<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- MARS DATA -->
    {% if mars%}
    <div class="row" id="mars-header">
        <div class="col-md-12">
            <strong>
            <h3>Latest Mars News</h3>
            <h4>{{mars.news_title}}</h4>
            </strong>
            <p>{{mars.news_p}}</p>
        </div>
    </div>
    <div class="row" id="mars-data">
        <div class="col-md-9">
            <h3>Featured Mars Image</h3>
            <figure><a href="{{mars.featured_image_url}}"><img src="{{mars.featured_image_url}}" height=100% width=100%></a></figure>
        </div>
        <div class="col-md-3 panel panel-default">
            <h4>Current Weather on Mars</h4>
            <p>{{mars.mars_weather}}</p>
        </div>
        <div class="col-md-3">
            <h4>Mars Facts</h4>
            {% block content %}
            {{mars.html_df | safe}}
            {% endblock %}
        </div>
    </div>
    <div class="row" id="mars-hemisphere">
        <div class="col-md-12">
            <h3>Mars Hemispheres</h3>
            <hr>
            {% for hemisphere in mars.hemisphere_list %}
            <div class="col-md-5 panel panel-default">
                <img src="{{hemisphere.img_url}}" alt="{{hemisphere.title}}" height=100% width=100%>
                <p><strong>{{hemisphere.title}}</strong></p>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>